@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
   :root {
      --min-page-height: calc(
         100dvh - var(--ui-header-height) - var(--footer-height)
      );
      --footer-height: --spacing(27);
   }

   @media (min-width: 1024px) {
      :root {
         --footer-height: --spacing(13);
      }
   }

   :root {
      @apply selection:bg-secondary-500/75 dark:selection:bg-secondary-400/75 scroll-smooth selection:text-neutral-50;
   }

   input::-webkit-inner-spin-button,
   input::-webkit-outer-spin-button {
      display: none;
      -webkit-appearance: none;
      margin: 0;
   }
}
