@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
   :root {
      --min-page-height: calc(100dvh - var(--ui-header-height) - var(--footer-height));
      --footer-height: --spacing(27);
   }

   @media (min-width: 1024px) {
      :root {
         --footer-height: --spacing(13);
      }
   }

   :root {
      @apply selection:bg-lime-500/20 dark:selection:bg-lime-400/20 scroll-smooth;
   }

   input::-webkit-inner-spin-button,
   input::-webkit-outer-spin-button {
      display: none;
      -webkit-appearance: none;
      margin: 0;
   }
}
