@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
   :root {
      --min-page-height: calc(100dvh - var(--ui-header-height));
   }

   :root {
      @apply selection:bg-lime-500/20 dark:selection:bg-lime-400/20;
   }

   input::-webkit-inner-spin-button,
   input::-webkit-outer-spin-button {
      display: none;
      -webkit-appearance: none;
      margin: 0;
   }
}
